.-theme-with-dark-background {
  .elements-disclosure li.selected .selected-hint:before {
    opacity: 0.6 !important;
    color: var(--selection-inactive-fg-color) !important;
  }

  .elements-disclosure li.selected:focus .selected-hint:before {
    color: var(--selection-fg-color) !important;
  }

  .elements-disclosure li.selected .selection {
    display: block !important;
    background-color: var(--selection-inactive-bg-color) !important;
  }

  .elements-disclosure ol li.selected:focus {
    color: var(--selection-fg-color) !important;
  }

  .elements-disclosure ol li.parent.selected:focus::before {
    background-color: var(--selection-fg-color) !important;
  }

  .elements-disclosure ol li.selected:focus * {
    color: inherit !important;
  }

  .elements-disclosure ol li.selected:focus .selection {
    background-color: var(--selection-bg-color) !important;
  }

  .elements-tree-outline ol.shadow-root-depth-4 {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }

  .elements-tree-outline ol.shadow-root-depth-3 {
    background-color: rgba(0, 0, 0, 0.03) !important;
  }

  .elements-tree-outline ol.shadow-root-depth-2 {
    background-color: rgba(0, 0, 0, 0.02) !important;
  }

  .elements-tree-outline ol.shadow-root-depth-1 {
    background-color: rgba(0, 0, 0, 0.01) !important;
  }

  .elements-tree-outline ol.shadow-root-deep {
    background-color: transparent !important;
  }

  .elements-tree-editor {
    box-shadow: var(--drop-shadow) !important;
    margin-right: 4px !important;
  }

  .elements-disclosure li.elements-drag-over .selection {
    display: block !important;
    margin-top: -2px !important;
    border-top: 2px solid var(--selection-bg-color) !important;
  }

  .elements-disclosure li.in-clipboard .highlight {
    outline: 1px dotted darkgrey !important;
  }

  .tree-outline li.filter-match {
    background-color: rgba(216, 206, 147, 0.4) !important;
  }

  .tree-outline li.overloaded.filter-match {
    background-color: rgba(216, 206, 147, 0.2) !important;
  }

  .tree-outline li.odd-row{background-color:#212C31 !important;}
  .tree-outline li:hover:not(.selected) .selection {background-color:rgba(128,203,207, 0.3) !important;}
}

:host-context(.-theme-with-dark-background) {
  .elements-disclosure li.hovered:not(.selected) .selection {
    background-color: rgba(128,203,207, 0.1) !important;
  }

  .styles-section .simple-selector.filter-match {
    background-color: rgba(172,228,255, 0.2) !important;
  }
  .tree-outline li.filter-match {
    background-color: rgba(172,228,255, 0.2) !important;
  }
  .tree-outline li.overloaded.filter-match {
    background-color: rgba(172,228,255, 0.1) !important;
  }

  .node-label-name{color:desaturate( $tag-name-color, 10% ) !important;}
  .node-label-class, .node-label-pseudo{color:desaturate( $attribute-name-color, 10% ) !important;}
  .node-label-id{color:desaturate( #7194DA, 10% ) !important;}
}
